# Deployment da aplicação.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: php
spec:
  # Uma instância da aplicação PHP.
  replicas: 1
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
    spec:
      containers:
        - name: php

          # Imagem customizada.
          image: 'pablovalentin94/biblioteca-docker-php:latest'

          # Apache ou PHP embutido.
          ports:
            containerPort: 80
---

apiVersion: v1
kind: Service
metadata:
  name: php
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: php